<a href="https://colab.research.google.com/github/ucfilho/ANN_2021_01/blob/main/ANN_Hydrofoil_abril_07_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# bibliotecas usadas
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score 
from google.colab import files

In [18]:
# para gerar o grafico no browser
%matplotlib inline

In [19]:
def getLocalFiles():
    _files = files.upload()
    if len(_files) >0:
       for k,v in _files.items():
         open(k,'wb').write(v)
getLocalFiles()

Saving Hydrofoil_ago_29_2018.csv to Hydrofoil_ago_29_2018 (6).csv

In [20]:
# leitura dos dados
df=pd.read_csv("Hydrofoil_ago_29_2018.csv")
#DAT=pd.read_csv("Hydrofoil_ago_29_2018.csv",index_col="emit")

In [21]:
df.head(3)

   Unnamed: 0  Case  Hydrofoil  ...   Sinkage      Trim     Power
0           1     1          1  ...  0.000000  0.000000  0.000000
1           2     2          1  ... -0.689028  1.353022  0.950991
2           3     3          1  ... -0.835413  1.346323  1.624000

[3 rows x 8 columns]

In [22]:
df.tail(3)

    Unnamed: 0  Case  Hydrofoil  ...     Sinkage      Trim        Power
56          57    57          4  ...   98.242317  2.955929  2048.288760
57          58    58          4  ...   98.290939  2.932024  2259.555115
58          59    59          4  ...  104.693695  2.979833  2306.958369

[3 rows x 8 columns]

In [23]:
# separa as colunas de interesse (filtrar)
Index=[2,3,4,5,6,7]
Dat_Select=[]
Dat_Select=df.iloc[:,Index].copy()

In [24]:
Dat_Select.head(3)

   Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
0          1  0.000000    0.000000  0.000000  0.000000  0.000000
1          1  0.103733    2.549729 -0.689028  1.353022  0.950991
2          1  0.124480    3.628461 -0.835413  1.346323  1.624000

In [25]:
# funcao normatiza dados
def Normatiza(x):
    strings=list(x)
    for i in strings:
        max_x=x[i].max()
        min_x=x[i].min()
        a=(max_x+min_x)/2
        b=(max_x-min_x)/2
        x[i]=(x[i]-a)/b
        #x[i]=0.8*(x[i]-min_x)/(max_x-min_x)+0.1
    return x

In [26]:
# funcao retorna os dados a forma original
def Original(x,x_old):
    strings=list(x)
    for i in strings:
        max_x=x_old[i].max()
        min_x=x_old[i].min()
        a=(max_x+min_x)/2
        b=(max_x-min_x)/2
        x[i]=x[i]*b+a
    return x

In [27]:
# separa os dados em normatizados e originais
DAT_OLD=[]
DAT_OLD=Dat_Select.copy()
DAT=Normatiza(Dat_Select)

In [28]:
DAT.tail(3)

    Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
56        1.0  0.728608    0.458333  0.883962  0.180864  0.260444
57        1.0  0.797753    0.546875  0.884836  0.171315  0.390449
58        1.0  0.866897    0.520833  1.000000  0.190414  0.419620

In [29]:
# separa os dados em treino e teste
train=DAT.sample(frac=0.8,random_state=None) # poderia ser frac=0.5? sim ou nao?
test=DAT.drop(train.index)

In [30]:
train.head(3)

    Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
8   -1.000000 -0.308557   -0.183333 -0.432939  0.709855 -0.717661
31   0.333333 -1.000000   -1.000000 -0.883085 -1.000000 -1.000000
33   0.333333 -0.654278   -0.625000 -0.972975 -0.175747 -0.935177

In [31]:
test.head(3)

    Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
13  -1.000000  0.555748    0.510417  0.578270  0.966493  0.174914
18  -0.333333 -0.827139   -0.940885 -0.912451 -0.443043 -0.994891
19  -0.333333 -0.654278   -0.630208 -0.968684 -0.157783 -0.936077

In [ ]:
# obtem as variaveis independentes (treino e teste)
x_train=train.iloc[:,[0,1]]
x_test=test.iloc[:,[0,1]]
X_OLD=DAT_OLD.iloc[:,[0,1]]

In [ ]:
# obtem a dependente potência (treino e teste)
Index=[5]
y_train=train.iloc[:,Index]
y_test=test.iloc[:,Index]
Y_OLD=DAT_OLD.iloc[:,Index]

In [ ]:
print(y_train)

In [ ]:
print(x_train)

In [ ]:
print(wtwt)

In [ ]:
# define a rede neural 
clf = MLPRegressor(solver='lbfgs',activation='tanh',alpha=1e-5,hidden_layer_sizes=(9, 8), 
                    random_state=1)

In [ ]:
# treina a rede neural
clf.fit(x_train, y_train)

In [ ]:
# usa a rede neural treina em calculos para treino e teste
y_calc_train=clf.predict(x_train)
y_calc_test=clf.predict(x_test)

In [ ]:
# transforma a saida da rede em dataframe 
y_calc_train=pd.DataFrame(y_calc_train)
y_calc_test=pd.DataFrame(y_calc_test)
col_names=list(y_train)
y_calc_train.columns = col_names
y_calc_test.columns = col_names

In [ ]:
# transforma dos dados calculados na forma original (nao normatizado)
y_calc_train=Original(y_calc_train,Y_OLD)
y_calc_test=Original(y_calc_test,Y_OLD)

In [ ]:
# recupera os dados originais 
test=[]
train=[]
train=Original(y_train,Y_OLD)
test=Original(y_test,Y_OLD)

In [ ]:
# escolhe uma das resposta para fazer o grafico (resistencia-treino)
resist_obs_train=[]
resist_calc_train=[]
resist_calc_train=y_calc_train['Resistence'].copy()
resist_obs_train=train['Resistence'].copy()

In [ ]:
# escolhe uma das resposta para fazer o grafico (resistencia-teste)
resist_obs_test=[]
resist_calc_test=[]
resist_calc_test=y_calc_test['Resistence'].copy()
resist_obs_test=test['Resistence'].copy()

In [ ]:
# expressa os dois dados em figura
fig = plt.figure()
ax1 = fig.add_subplot(111)

ax1.scatter(resist_obs_test,resist_calc_test, s=10, c='b', marker="s", label='teste')
ax1.scatter(resist_obs_train,resist_calc_train, s=10, c='r', marker="o", label='treino')
plt.legend(loc='upper left')
plt.ylabel('Resist Calc')
plt.xlabel('Resist Obs')
plt.show()

In [ ]:
mse=mean_squared_error(resist_obs_test,resist_calc_test)
print("MSE teste=",mse)
R2=r2_score(resist_obs_test,resist_calc_test)
print("R^2 teste=",R2)

In [ ]:
mse=mean_squared_error(resist_obs_train,resist_calc_train)
print("MSE treino=",mse)
R2=r2_score(resist_obs_train,resist_calc_train)
print("R^2 treino=",R2)