<a href="https://colab.research.google.com/github/ucfilho/ANN_2021_01/blob/main/ANN_Hydrofoil_abril_28_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# bibliotecas usadas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.metrics import r2_score

In [2]:
# para gerar o grafico no browser
%matplotlib inline

In [3]:
!git clone https://github.com/ucfilho/ANN_2021_01/
%cd ANN_2021_01

Cloning into 'ANN_2021_01'...
remote: Enumerating objects: 124, done.
remote: Counting objects: 100% (124/124), done.
remote: Compressing objects: 100% (118/118), done.
remote: Total 124 (delta 63), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (124/124), 176.96 KiB | 6.81 MiB/s, done.
Resolving deltas: 100% (63/63), done.
/content/ANN_2021_01

In [4]:
# leitura dos dados
df=pd.read_csv("Hydrofoil_ago_29_2018.csv")

In [5]:
df.head(3)

   Unnamed: 0  Case  Hydrofoil  ...   Sinkage      Trim     Power
0           1     1          1  ...  0.000000  0.000000  0.000000
1           2     2          1  ... -0.689028  1.353022  0.950991
2           3     3          1  ... -0.835413  1.346323  1.624000

[3 rows x 8 columns]

In [6]:
df.tail(3)

    Unnamed: 0  Case  Hydrofoil  ...     Sinkage      Trim        Power
56          57    57          4  ...   98.242317  2.955929  2048.288760
57          58    58          4  ...   98.290939  2.932024  2259.555115
58          59    59          4  ...  104.693695  2.979833  2306.958369

[3 rows x 8 columns]

In [7]:
Dat_Select=df.iloc[:,2:]

In [8]:
Dat_Select.head(3)

   Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
0          1  0.000000    0.000000  0.000000  0.000000  0.000000
1          1  0.103733    2.549729 -0.689028  1.353022  0.950991
2          1  0.124480    3.628461 -0.835413  1.346323  1.624000

In [9]:
# separa os dados em normatizados e originais
X = Dat_Select[['Hydrofoil','Froude']]
y = np.array(Dat_Select[['Power']]).reshape(-1,1)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20, shuffle=True, random_state=42)

In [11]:
scaler_X = preprocessing.MinMaxScaler((-1,1)).fit(X)
scaler_Y = preprocessing.MinMaxScaler((-1,1)).fit(y)

In [12]:
X_train = scaler_X.transform(X_train)
X_test = scaler_X.transform(X_test)
y_train = scaler_Y.transform(y_train)
y_test = scaler_Y.transform(y_test)

In [13]:
# define a rede neural 
model = MLPRegressor(solver='lbfgs',activation='tanh',alpha=1e-5,hidden_layer_sizes=(9, 8),
                     random_state=1)
# treina a rede neural
model.fit(X_train, y_train)
# usa a rede neural treina em calculos para treino e teste
y_calc_train=model.predict(X_train)
y_calc_test=model.predict(X_test)
# transforma dos dados calculados na forma original (nao normatizado)
y_obs_train=scaler_Y.inverse_transform(np.array(y_train).reshape(-1,1))
y_obs_test=scaler_Y.inverse_transform(np.array(y_test).reshape(-1,1))
y_calc_train=scaler_Y.inverse_transform(y_calc_train.reshape(-1,1))
y_calc_test=scaler_Y.inverse_transform(y_calc_test.reshape(-1,1))
mse=mean_squared_error(y_obs_test,y_calc_test)
print("MSE teste=",mse)
R2=r2_score(y_obs_test,y_calc_test)
print("R^2 teste=",R2)
mse=mean_squared_error(y_obs_train,y_calc_train)
print("MSE treino=",mse)
R2=r2_score(y_obs_train,y_calc_train)
print("R^2 treino=",R2)

MSE teste= 2071.442972912793
R^2 teste= 0.9968741276417415
MSE treino= 2208.631446140372
R^2 treino= 0.9977017518734828

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)