<a href="https://colab.research.google.com/github/ucfilho/ANN_2021_01/blob/main/DataSet_Reading_ANN/ANN_open_dataset_addicional_possibility_abril_30_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!git clone https://github.com/ucfilho/ANN_routnines
%cd ANN_routnines

fatal: destination path 'ANN_routnines' already exists and is not an empty directory.
/content/ANN_routnines

In [ ]:
# leitura dos dados
df_sheet1=pd.read_excel("crossflow_microfiltration_particulate.xlsx", 'Sheet1')

In [ ]:
df_sheet1.head(3)

   Inlet velocity (m/s)  Concentration (g/L)  TMP (kPa)  FIE (%)
0                  0.25                    1         20    15.71
1                  0.25                    1         50    20.00
2                  0.25                    2         40    33.33

In [ ]:
df_sheet2=pd.read_excel("crossflow_microfiltration_particulate.xlsx", 'Sheet2')

In [ ]:
df_sheet2.head(3)

   Inlet velocity (m/s)  Concentration (g/L)  TMP (kPa)  FIE (%)
0                  0.38                    5         30    92.68
1                  0.50                    1         30    27.07
2                  0.50                    1         40    29.33

In [ ]:
df_sheet3=pd.read_excel("crossflow_microfiltration_particulate.xlsx", 'Sheet3')

In [ ]:
df_sheet3.head(3)

   Inlet velocity (m/s)  Concentration (g/L)  TMP (kPa)  FIE (%)   Type
0                  0.25                    1         20    15.71  train
1                  0.25                    1         50    20.00  train
2                  0.25                    2         40    33.33  train

In [ ]:
X_train = df_sheet1.iloc[[0,1,2]]
y_train = df_sheet1.iloc[:,3]
X_test = df_sheet2.iloc[[0,1,2]]
y_test = df_sheet2.iloc[:,3]

In [ ]:
y_test

0     92.68
1     27.07
2     29.33
3     28.05
4     59.83
5    102.38
6    131.75
Name: FIE (%), dtype: float64

In [ ]:
y_train.head(3)

0    15.71
1    20.00
2    33.33
Name: FIE (%), dtype: float64

In [ ]:
dataset1= df_sheet3[df_sheet3['Type'] == 'train']
dataset2= df_sheet3[df_sheet3['Type'] == 'test']

In [ ]:
dataset1.head(3)

   Inlet velocity (m/s)  Concentration (g/L)  TMP (kPa)  FIE (%)   Type
0                  0.25                    1         20    15.71  train
1                  0.25                    1         50    20.00  train
2                  0.25                    2         40    33.33  train

In [ ]:
dataset2.head(3)

    Inlet velocity (m/s)  Concentration (g/L)  TMP (kPa)  FIE (%)  Type
32                  0.38                    5         30    92.68  test
33                  0.50                    1         30    27.07  test
34                  0.50                    1         40    29.33  test